name: Synthesis

on:
  workflow_run:
    workflows: ["Lint"]
    types: [completed]

jobs:
  changes:
    if: >
      github.event.workflow_run.conclusion == 'success'
    runs-on: sanity-builder
    outputs:
      synthesis: ${{ steps.changes.outputs.synthesis }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            synthesis:
              - 'src/**'
              - 'lib/**'
              - 'example_designs/**'
              - 'vendors/**'
              - 'src.f'
              - 'Makefile'
              - 'scripts/**'
              - 'config.json'

  fpga-synthesis:
    needs: changes
    if: needs.changes.outputs.synthesis == 'true'
    runs-on: sanity-builder
    steps:
      - uses: actions/checkout@v4
      - run: bash ci/synth.sh
